version: '3.5'

services:
  api-platform-hexagonal-sandbox-web:
    container_name: api-platform-hexagonal-sandbox-web
    build:
      context: ./docker/nginx
      args:
        UID: $U_ID
    ports:
      - 1000:80
    volumes:
      - ./public:/appdata/www/public
    depends_on:
      - api-platform-hexagonal-sandbox-be
    networks:
      - api-platform-hexagonal-sandbox-network

  api-platform-hexagonal-sandbox-be:
    container_name: api-platform-hexagonal-sandbox-be
    build:
      context: docker/php
      args:
        UID: $U_ID
    volumes:
      - ./:/appdata/www
    ###> XDEBUG 3 ###
    # Use your client IP here
    # Linux: run "ip a | grep docker0"
    # Windows (with WSL2) and Mac: host.docker.internal
    environment:
      XDEBUG_CLIENT_HOST: 172.17.0.1
      XDEBUG_CLIENT_PORT: 9003
      PHP_IDE_CONFIG: serverName=api-platform-hexagonal-sandbox-server
    ports:
      - '1100:8000'
    networks:
      - api-platform-hexagonal-sandbox-network
    depends_on:
      - api-platform-hexagonal-sandbox-postgres
      
  api-platform-hexagonal-sandbox-postgres:
    container_name: api-platform-hexagonal-sandbox-postgres
    image: postgres:14-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: passwd
      POSTGRES_DB: postgres_symfony
    volumes:
      - api-platform-hexagonal-sandbox-pgsql-data:/var/lib/postgresql/data
    networks:
      - api-platform-hexagonal-sandbox-network

  api-platform-hexagonal-sandbox-rabbit:
    container_name: api-platform-hexagonal-sandbox-rabbitmq
    image: rabbitmq:3-management-alpine
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - api-platform-hexagonal-sandbox-network

volumes:
  api-platform-hexagonal-sandbox-pgsql-data:
networks:
  api-platform-hexagonal-sandbox-network:
#    external: true
